<section class="calendar">
    <div id="calendar_menu">
        <nav>
            <div class="inner">
                <ul>
                    <li><a href="/new">新規カレンダー作成</a></li>
                    <li><a href="/join">カレンダーに参加</a></li>
                    <% @user_calendars.each do |uc| %>
                        <li>
                            <a href="/calendar/<%= uc.calendar.id %>">
                                <% if uc.calendar.calendar_name != nil %>
                                    <%= uc.calendar.calendar_name  %>のカレンダー
                                <% else %>
                                    <%= @current_user.username %>のカレンダー
                                <% end %>
                            </a>
                        </li>
                    <% end %>
                    <li><a href="/logout">ログアウト</a></li>
                    <li><form action="/calendar/<%= @calendar.id %>/delete" method="POST"><button type="submit">カレンダー削除<button></form></li>
                </ul>
            </div>
        </nav>
        
        <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div id="mask"></div>
    </div>
    <div class="calendar_header">
        <p class="calendar_name">
            <% if @calendar.calendar_name != nil %>
             <%= @calendar.calendar_name %>のカレンダー
            <% else %>
             <%= @current_user.username %>のカレンダー
            <% end %>
        </p>
        <div id="date-picker">
            <button id="prev-month-button">
                <span></span>
                <span></span>
            </button>
            <span id="year-month"></span>
            <button id="next-month-button">
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="calendar_info">
            <p>カレンダーID：<%= @calendar.id %></p>
            <img src="<%= @current_user.user_img %>" width="40" height="40" >
        </div>
    </div>
    <div class="calendar-main">
        <div class="calendar-main-contents">
            <div id="event-modal-open">
                <div class="create-btn">
                    <p>予定の作成</p>
                </div>
            </div>
            
            <div class="calendar-display">
                <select id="display-type">
                    <option value="month" selected>月</option>
                    <option value="week">週</option>
                    <option value="day">日</option>
                </select>
            </div>
            
            <div id="modal-bg" class=></div>
            
            <div id="event-modal-container">
                <form class="date-time-picker" action="/calendar/<%= @calendar.id %>/task/new" method="POST">
                    <input class="task-name" type="text" name="task_name" placeholder="event name">
                    <label for="start-date">開始:</label>
                    <input type="date" id="start-date" name="start-date">
                    <input type="time" id="start-time" name="start-time" >
                      
                    <label for="end-date">終了:</label>
                    <input type="date" id="end-date" name="end-date">
                    <input type="time" id="end-time" name="end-time">
                    
                    <div>
                        <p>タグ</p>
                        <select name="tag_color_id" id="tag_color_id">
                            <% @colors.each do |color| %>
                              <option value="<%= color.id %>"><%= color.color_name %> (<%= color.color_code %>)</option>
                            <% end %>
                        </select>
                    </div>
                    <button tyoe="submit">追加</button>
                </form>
                <div id="event-modal-close">閉じる</div>
            </div>
            
            <!--モーダル表示する編集画面-->
            
            <div id="edit-modal-container">
                <form class="date-time-picker" method="POST">
                    <input class="task-name" type="text" name="task_name">
                    <label for="start-date">開始:</label>
                    <input type="date" id="start-date" name="start-date">
                    <input type="time" id="start-time" name="start-time">
                      
                    <label for="end-date">終了:</label>
                    <input type="date" id="end-date" name="end-date">
                    <input type="time" id="end-time" name="end-time">
                    
                    <div class="color-box">
                        <p>タグ</p>
                        <select name="tag_color_id" id="tag_color_id">
                            <% @colors.each do |color| %>
                              <option value="<%= color.id %>"><%= color.color_name %> (<%= color.color_code %>)</option>
                            <% end %>
                        </select>
                    </div>
                    <button tyoe="submit">保存</button>
                    <a id="delete-task-link" href="#">消去</a>
                </form>
                <div id="edit-modal-close">閉じる</div>
            </div>
            
        </div>
        
        <div id="calendar_body" class="calendar-body">
            <!--main.jsにてカレンダーを作成-->
            
            
        </div>
        
        
        <!--とりあえずここに表示しているがカレンダーの日付の枠に表示したい-->
        <% @tasks.each do |task| %>
            <% if @calendar.id == task.calendar_id %>
                <div class="task" id="edit-modal-open" 
                     data-id="<%= task["id"] %>"
                     data-task-name="<%= task["task_name"] %>"
                     data-start-time="<%= task["start_time"] %>"
                     data-end-time="<%= task["end_time"] %>"
                     data-tag-color="<%= task["tag_color_id"] %>"
                     >
                    <!--<p>予定名：<%#= task.task_name %></p>-->
                    <!--<p>開始時間：<%#= task.start_time %></p>-->
                    <!--<p>終了時間：<%#= task.end_time %></p>-->
                    <!--<p>タグカラー：<%#= task.tag_color_id %></p>-->
                </div>
            <% end %>
        <% end %>
        
    </div>

    <script>
      // Rubyで生成した天気情報をJavaScriptのオブジェクトに渡す
      const dailyWeather = <%= @daily_weather.to_json %>;
    　//  タグカラーを送る
      const tagColors = <%= @tag_colors.to_json %>;
    </script>
    <script src="../js/main.js"></script>
</section>